<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 GBPrimePay Payments.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
      <gbprimepay>
          <gbprimepay_required>
            <environment>prelive</environment>
            <test_public_key></test_public_key>
            <test_secret_key></test_secret_key>
            <test_token_key></test_token_key>
            <debug>0</debug>
          </gbprimepay_required>
          <gbprimepay_direct>
              <instructions>Credit Card</instructions>
              <active>1</active>
              <title>Pay with Credit Card</title>
              <order_status>processing</order_status>
              <sort_order>10</sort_order>
              <payment_action>authorize_capture</payment_action>
              <model>GBPrimePay\Payments\Model\GBPrimePayDirect</model>
          </gbprimepay_direct>
          <gbprimepay_qrcode>
              <instructions>QR Code</instructions>
              <active>0</active>
              <title>Pay with QR Code</title>
              <sort_order>20</sort_order>
              <model>GBPrimePay\Payments\Model\GBPrimePayQrcode</model>
          </gbprimepay_qrcode>
          <gbprimepay_barcode>
              <instructions>Barcode</instructions>
              <active>0</active>
              <title>Pay with Bill Payment</title>
              <sort_order>30</sort_order>
              <model>GBPrimePay\Payments\Model\GBPrimePayBarcode</model>
          </gbprimepay_barcode>
      </gbprimepay>
        <payment>
          <gbprimepay_direct>
              <instructions></instructions>
              <active>1</active>
              <title>Pay with Credit Card</title>
              <cctypes>VI,MC,JCB</cctypes>
              <order_status>processing</order_status>
              <sort_order>10</sort_order>
              <payment_action>authorize_capture</payment_action>
              <model>GBPrimePay\Payments\Model\GBPrimePayDirect</model>
          </gbprimepay_direct>
          <gbprimepay_qrcode>
              <instructions></instructions>
              <active>1</active>
              <title>Pay with QR Code</title>
              <sort_order>20</sort_order>
              <model>GBPrimePay\Payments\Model\GBPrimePayQrcode</model>
          </gbprimepay_qrcode>
          <gbprimepay_barcode>
              <instructions></instructions>
              <active>1</active>
              <title>Pay with Bill Payment</title>
              <sort_order>30</sort_order>
              <model>GBPrimePay\Payments\Model\GBPrimePayBarcode</model>
          </gbprimepay_barcode>
        </payment>
    </default>
</config>
