<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 GBPrimePay Payments.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="GBPrimePay\Payments\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="gbprimepay_direct" xsi:type="const">GBPrimePay\Payments\Model\GBPrimePayDirect::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="gbprimepay_payments_config_provider" xsi:type="object">GBPrimePay\Payments\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="GBPrimePay\Payments\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="gbprimepay_qrcode" xsi:type="const">GBPrimePay\Payments\Model\GBPrimePayQrcode::CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="GBPrimePay\Payments\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="gbprimepay_barcode" xsi:type="const">GBPrimePay\Payments\Model\GBPrimePayBarcode::CODE</item>
            </argument>
        </arguments>
    </virtualType>

</config>
